.playfield {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.square {
  margin-bottom: 15px;
  background-color: rgb(89, 67, 39);
  border-radius: 50%;
  height: 110px;
  width: 110px;
  justify-self: center;
  display: flex;
}

.square:hover {
  background-color: #116530;
}

img {
  width: 100%;
  object-fit: contain;
}

.empty {
  display: none;
}
