.playfield {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.square {
  margin-bottom: 15px;
  background-color: rgb(89, 67, 39);
  border-radius: 50%;
  height: 110px;
  width: 110px;
  justify-self: center;
  display: flex;
  box-shadow: inset 0 10px 0 7px rgb(53, 39, 20);
  overflow: hidden;
}

.square:hover {
  background-color: #116530;
  box-shadow: none;
}

img {
  width: 100%;
  object-fit: contain;
  animation: rise 0.3s ease-out;
}

@keyframes rise {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.empty {
  display: none;
}
